{% extends 'base.html' %}

{% block content %}

<h1>Expense Records</h1>

<a href="{% url 'expense_create' %}">
    Add Expense
</a>

<hr>

<table border="1" cellpadding="10">

<tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Actions</th>
</tr>

{% for expense in expenses %}

<tr>

    <td>{{ expense.date }}</td>

    <td>₹ {{ expense.amount }}</td>

    <td>

        <a href="{% url 'expense_update' expense.id %}">
            Edit
        </a>

        |

        <a href="{% url 'expense_delete' expense.id %}">
            Delete
        </a>

    </td>

</tr>

{% empty %}

<tr>
    <td colspan="3">
        No expenses found.
    </td>
</tr>

{% endfor %}

</table>

{% endblock %}